html, body
{
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #111;
}

canvas
{
  display: block;
}

table.settings
{
  color: white;
}

table.settings td
{
  vertical-align: top;
  height: 0px;
}

table.settings td.align-middle
{
  vertical-align: middle;
}

table.settings td button
{
  height: 100%;
}

table .console
{
  font-family: monospace;
}
